# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
logs/*.log

# SQLite database files
*.sqlite
*.sqlite3

# Environment variables
.env

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
